.box0 {
    background-image: url(img/web41.jpeg);
    background-repeat: no-repeat;
    height: 200px;
}

.img {
    height: 100%;
    width: 100%;
}

.photography {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 100px;
    color: darkred;
}

.montuml {
    height: 450px;
}

.vishal {
    height: 450px;
}

.montuml {
    border-radius: 50% 50%;
    block-size: 200px;
    margin-top: 30px;
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Sono', sans-serif;
}

.personp {
    text-align: center;
    font-weight: 300px;
}

.icon {
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

.peregraph {
    height: 100px;
    font-weight: 500px;
    background-color: gray;
    background-image: url(img/web013.jpg);
}

.quetp {
    font-size: 15px;
    font-family: 'Caveat', cursive;
    margin: auto;
}

.home {
    margin: 10px 0px 0px 0px;
}

#my-navigation .icon-right {
    float: right;
    position: relative;
    top: 3px;
    padding-left: 10px;
}

.audio{
    background-color: black;
    color: black;
}

.home{
    border-radius: 0px;
}


